body {
    background-color: #000000;
  }

  h2 {
    color: rgb(246, 252, 246);
    text-align: center;
    font-family: arial;
  }

  div {
      color: #10df77;
      text-align: center;
      font-family: arial;
  }