<h2>Please choose a number and a category to search:</h2>
<div>
  <input type='number' placeholder='number' [(ngModel)]='frmNumber' min='1' max='5'/>
  <br/>
  <br>
  <select [(ngModel)]='whichCategory'>
      <option *ngFor='let item of choices'>{{item.cat}}</option>
  </select>
  <br />
  <br>
  <button (click)='handleClick()'>Submit</button>
</div>

<!-- Default message if model has not returned anything -->
<div *ngIf='model == null'>
  <h2>Could not find this item</h2>
</div>

<!-- Checks if model is not null, returns results if not null -->
<div *ngIf='model != null'>
  <h2>Here are the results:</h2>

  <!-- Displays name of search result -->
  <h2>Name: {{model.name}}</h2>

  <!-- Conditionally show results depending on category -->
  <div *ngIf=' whichCategory=="people" '>
    Height: {{model.height}} <br> 
    Birth Year: {{model.birth_year}} <br> 
    Gender: {{model.gender}}
  </div>

    <div *ngIf='whichCategory=="planets"'>
    Rotation Period: {{model.rotation_period}} <br> 
    Diameter: {{model.diameter}} <br> 
    Population: {{model.population}}
  </div>

    <div *ngIf=' whichCategory=="vehicles"'>
    Manufacturer: {{model.manufacturer}} 
    <br> Model: {{model.model}}
  </div>
    
    <div *ngIf=' whichCategory=="species"'>
      Classification: {{model.classification}} <br>
      Skin Colors: {{model.skin_colors}} <br>
      Language: {{model.language}}
    </div>

    <div *ngIf='whichCategory=="starships"'>
      Model: {{model.model}} <br>
      Passengers: {{model.passengers}} <br>
      Crew: {{model.crew}}
    </div>
</div>